<div class="breadcrumb-area breadcrumb-bg extra">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <h1 class="page-title">Blog</h1>
                    <ul class="page-navigation">
                        <li><a href="/"> Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area padding-top-120 padding-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
<?php foreach($data['posts'] as $post_data) { ?>

    <div class="col-lg-6 col-md-6">
        <div class="single-blog-grid-item">
            <div class="thumb">
                <img src="<?=$post_data['thumbnail']?>" alt="blog images">
            </div>
            <div class="content">
                <ul class="post-meta">
                    <li><?php 
                        $date = date_create($post_data['publishedon']);
                        echo date_format($date, 'd.m.Y H:i');
                        ?></a></li>
                    <li><?=$post_data['name']?></a></li>
                </ul>
                <h4 class="title"><a href="blog/view/<?=$post_data['alias']?>"><?=$post_data['longtitle']?></a></h4>
                <a href="blog/view/<?=$post_data['alias']?>" class="readmore">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
    </div>

<?php } ?>

<?php if($data['pages']) {?>
<div class="col-lg-12">
    <div class="blog-pagination margin-top-10"><!-- blog pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <?php 
                    $current = $_GET['p'] ?? 1;
                    $output = '';
                    for($i=0; $i <= $data['pages']; $i++){
                        $currPage = $i + 1;
                        $output .= "<li class='page-item";
                        if ($current == $i+1)
                            $output .= " active";
                        $output .= "'><a class='page-link' href='blog?p={$currPage}'>{$currPage}</a></li>";
                    }
                    
                    if ($current < $data['pages']+1){
                        $currentPage = $current + 1;
                        $output .= "<li class='page-item'><a class='page-link' href='blog?p={$currentPage}' aria-label='Next'><i class='fas fa-chevron-right'></i></a></li>";
                    }else    
                        $output .= "<li class='page-item'><i class='fas fa-chevron-right'></i></li>";
                    echo $output;
                ?>
            </ul>
        </nav>
    </div><!-- //. blog pagination -->
</div>
<?php } ?>
</div>
</div>
<div class="col-lg-4">
<div class="sidebar widget-area"><!-- widget area -->

<div class="widget widget_search"><!-- widget  -->
    <h4 class="widget-title">Search</h4>
    <form action="blog.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button class="submit-btn" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div><!-- //. widget -->

<div class="widget widget_categories"><!-- widget  -->
    <h4 class="widget-title">Categories</h4>
    <ul>
        <li class="cat-item"><a href="#">Lifestyle</a></li>
        <li class="cat-item"><a href="#">Travel</a></li>
        <li class="cat-item"><a href="#">Fashion</a></li>
        <li class="cat-item"><a href="#">Music</a></li>
        <li class="cat-item"><a href="#">Branding</a></li>
        <li class="cat-item"><a href="#">History</a></li>
    </ul>
</div>
<div class="widget widget_popular_posts"><!-- widget  -->
    <h4 class="widget-title">Popular Posts</h4>
    <ul>

        <li class="single-popular-post-item"><!-- single popular post item -->
            <div class="thumb">
                <img src="assets/img/popular-post/01.jpg" alt="popular post image">
            </div>
            <div class="content">
                <span class="time">June 20, 18</span>
                <h4 class="title"><a href="#">Aliquam eu mauris euismod lacus vel.</a></h4>
            </div>
        </li><!-- //. single popular post item -->
        <li class="single-popular-post-item"><!-- single popular post item -->
            <div class="thumb">
                <img src="assets/img/popular-post/02.jpg" alt="popular post image">
            </div>
            <div class="content">
                <span class="time">June 20, 18</span>
                <h4 class="title"><a href="#">Aliquam eu mauris euismod lacus vel.</a></h4>
            </div>
        </li><!-- //. single popular post item -->
        <li class="single-popular-post-item"><!-- single popular post item -->
            <div class="thumb">
                <img src="assets/img/popular-post/03.jpg" alt="popular post image">
            </div>
            <div class="content">
                <span class="time">June 20, 18</span>
                <h4 class="title"><a href="#">Aliquam eu mauris euismod lacus vel.</a></h4>
            </div>
        </li><!-- //. single popular post item -->

    </ul>
</div>
<div class="widget widget_tag_cloud"><!-- widget -->
    <h4 class="widget-title">Tags</h4>
    <div class="tagcloud">
        <?php
            $page = $_GET['p'] ?? '';

            foreach($data['tags'] as $tag){
                if ($page)
                    echo "<a href='blog?p={$page}&tag={$tag['id']}'>{$tag['title']}</a>";
                else
                    echo "<a href='blog?tag={$tag['id']}'>{$tag['title']}</a>";
            }
        ?>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>